.DS_Store
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
*.log

# iOS
ios/Pods/
ios/build/
ios/main.jsbundle
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea/

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
